---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="Blog | madhavm.com" description="Blog posts by Madhav M">
  <h1>Blog</h1>
  <ul>
    <li><a href="/blog/hello-world">Hello World</a></li>
  </ul>
</BaseLayout>
